@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url(imagenes/monedas.jpg);
    background-repeat: ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}
.padding{
padding: 15em;
}

#monto{
    margin-top: 2em;
    padding: 0.3em;
    margin-right: 0.5em;
    
}
#moneda{
    padding:0.5em;
}
.resultado{

    border:2px solid gold;
    margin-top: 1em;
    width:2em;
    height: 2em;

    display: flex;
    ;

}
#montoTotal{
    
    font-weight: bold;
    padding: 2em;
    font-size: 2rem;

}


